@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: inherit;
    font-family: "Gupter", serif;
}

body {
    background: linear-gradient(190deg, #bb4fff 20%, #756FFE 80%);
    background-repeat: no-repeat;
    height: 100vh;
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
}

.container {
    width: min(95%, 75rem);
    margin: 0 auto;
}

.tasks {
    margin-top: 5rem;
    h1 {
        color: white;
        font-size: clamp(3.125rem, 8vw, 4.375rem);
        text-align: center;
    }
}

.task-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.875rem;
    gap: 1.875rem;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 2fr;
        gap: 2.5rem;
    }
}

.tasks-form {
    div {
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 0.9375rem;
    }
    button[type='button'] {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: 500;
        display: none;
    }
    button[type='submit'] {
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 1.0625rem;
        margin-top: 0.5rem;
        cursor: pointer;
    }
    
    input {
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.1875rem;
        border: none;
        background-color: #481169;
        color: white;
        font-size: 1.0625rem;
        &:focus {
            outline: none;
        }
    }
}

.tasks-list {
    ul {
        margin-top: 0.9375rem;
    }
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #6922AB;
        padding: 0.875rem;
        color: white;
        border-radius: 0.1875rem;
        border-bottom: 0.125rem solid #481169;
        &:last-child {
            border-bottom: none;
        }
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

.tasks-buttons {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    button {
        border: none;
        background-color: transparent;
        font-size: 1.125rem;
        color: white;
        cursor: pointer;
    }
}

/* Alerts */
.alert {
    width: 90%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    text-transform: uppercase;
    font-weight: bold;
    @media (min-width: 768px) {
        width: auto;
    }

    &.error {
        background-color: #F8D7DB;
        color: #842029;
        padding: 0.3125rem 3.125rem;
        animation: sliderAlertUp 6s ease-out forwards;
        box-shadow: 0 0 0.625rem #84202888;
    }

    &.success {
        background-color: #D1E7DD;
        color: #0F5132;
        padding: 0.3125rem 3.125rem;
        animation: sliderAlertUp 6s ease-out forwards;
        box-shadow: 0 0 0.625rem #0f513288;
    }
}

@keyframes sliderAlertUp {
    0%, 100% {
        transform: translate(-50%, -110%);
    }
    15%, 85% {
        transform: translate(-50%, 0);
    }
}

